/* --------- Global Style */
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
}

h1, h2{
    color: #94ebcd
}
/* --------- Heading */
.heading {
    margin: 100px 50px 100px 50px;
}

/* --------- Sidebar */
.sidebar{
    background-color: #94ebcd;
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    width: 130px;
    min-width: 130px;
    text-align: center;
}


.bg-color-question-number {
    background-color: #94ebcd;
}

.list-number{
    color: #ffefa1;
    padding: 1rem 0 1rem 0;
}

.numbers {
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;    
}

/* --------- Title */
#title {
    margin: 14px 50px 0 50px;
    overflow: hidden;
    border-bottom: 2px solid #ffcb91;
}

.question-number {
    color: #aaaaaa;

}
/* --------- Clock */


/* --------- Answers */