/* --------- Global Style */
@import url("https://fonts.googleapis.com/css2?family=Sniglet&family=Fredoka+One&display=swap");

body {
    background-color: white;
    font-family: "Sniglet", sans-serif;
}

h1, h2{
    color: #94ebcd
}
/* --------- Heading */
.heading {
    margin: 4rem 0 2rem 4rem;
    padding: 2rem;
}

/* --------- Question Bar */



.bg-color-question-number {
    background-color: #94ebcd;
}

.list-number{
    color: #ffefa1;
    padding: .5rem .25rem !important;
}

.numbers {
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;    
}

/* --------- Title */
#title {
    margin: 14px 50px 0 50px;
    overflow: hidden;
    border-bottom: 2px solid #ffcb91;
}

.question-number {
    color: #aaaaaa;

}

/* --------- Clock */
.analogue-clock {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* --------- Answers */
.bottom-row-option {
    background-color: #94ebcd;
}


/* --------- Button */
.button {
  background-color: #94ebcd;
  border: none;
  color: #ffefa1;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  border-radius: 0.5rem;
}

.button:hover {
  background-color: #6ddccf;
  color: #ffefa1;
}

.button {
  transition-duration: 0.4s;
}